// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #1976d2;
$primary-invert: findColorInvert($primary);
$light-grey: #BDBDBD;
$light-grey-invert: findColorInvert($light-grey);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "light-grey": ($light-grey, $light-grey-invert),
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
